<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sas.mapper.AttendanceMapper" >
  <resultMap id="BaseResultMap" type="com.sas.pojo.Attendance" >
    <id column="Aid" property="aid" jdbcType="INTEGER" />
    <result column="CourseId" property="courseid" jdbcType="INTEGER" />
    <result column="StudentId" property="studentid" jdbcType="INTEGER" />
    <result column="State" property="state" jdbcType="INTEGER" />
    <result column="SignDeskTime" property="signdesktime" jdbcType="TIMESTAMP" />
    <result column="SignDeskAddress" property="signdeskaddress" jdbcType="VARCHAR" />
    <result column="SeatNumber" property="seatnumber" jdbcType="INTEGER" />
    <result column="CreateBy" property="createby" jdbcType="VARCHAR" />
    <result column="CreateDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="ModifyDate" property="modifydate" jdbcType="TIMESTAMP" />
    <result column="ModifyBy" property="modifyby" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Aid, CourseId, StudentId, State, SignDeskTime, SignDeskAddress, SeatNumber, CreateBy, 
    CreateDate, ModifyDate, ModifyBy
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sas.pojo.AttendanceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from attendance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from attendance
    where Aid = #{aid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from attendance
    where Aid = #{aid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sas.pojo.AttendanceExample" >
    delete from attendance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sas.pojo.Attendance" >
    insert into attendance (Aid, CourseId, StudentId, 
      State, SignDeskTime, SignDeskAddress, 
      SeatNumber, CreateBy, CreateDate, 
      ModifyDate, ModifyBy)
    values (#{aid,jdbcType=INTEGER}, #{courseid,jdbcType=INTEGER}, #{studentid,jdbcType=INTEGER}, 
      #{state,jdbcType=INTEGER}, #{signdesktime,jdbcType=TIMESTAMP}, #{signdeskaddress,jdbcType=VARCHAR}, 
      #{seatnumber,jdbcType=INTEGER}, #{createby,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, 
      #{modifydate,jdbcType=TIMESTAMP}, #{modifyby,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sas.pojo.Attendance" >
    insert into attendance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        Aid,
      </if>
      <if test="courseid != null" >
        CourseId,
      </if>
      <if test="studentid != null" >
        StudentId,
      </if>
      <if test="state != null" >
        State,
      </if>
      <if test="signdesktime != null" >
        SignDeskTime,
      </if>
      <if test="signdeskaddress != null" >
        SignDeskAddress,
      </if>
      <if test="seatnumber != null" >
        SeatNumber,
      </if>
      <if test="createby != null" >
        CreateBy,
      </if>
      <if test="createdate != null" >
        CreateDate,
      </if>
      <if test="modifydate != null" >
        ModifyDate,
      </if>
      <if test="modifyby != null" >
        ModifyBy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="courseid != null" >
        #{courseid,jdbcType=INTEGER},
      </if>
      <if test="studentid != null" >
        #{studentid,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="signdesktime != null" >
        #{signdesktime,jdbcType=TIMESTAMP},
      </if>
      <if test="signdeskaddress != null" >
        #{signdeskaddress,jdbcType=VARCHAR},
      </if>
      <if test="seatnumber != null" >
        #{seatnumber,jdbcType=INTEGER},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyby != null" >
        #{modifyby,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sas.pojo.AttendanceExample" resultType="java.lang.Integer" >
    select count(*) from attendance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update attendance
    <set >
      <if test="record.aid != null" >
        Aid = #{record.aid,jdbcType=INTEGER},
      </if>
      <if test="record.courseid != null" >
        CourseId = #{record.courseid,jdbcType=INTEGER},
      </if>
      <if test="record.studentid != null" >
        StudentId = #{record.studentid,jdbcType=INTEGER},
      </if>
      <if test="record.state != null" >
        State = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.signdesktime != null" >
        SignDeskTime = #{record.signdesktime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.signdeskaddress != null" >
        SignDeskAddress = #{record.signdeskaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.seatnumber != null" >
        SeatNumber = #{record.seatnumber,jdbcType=INTEGER},
      </if>
      <if test="record.createby != null" >
        CreateBy = #{record.createby,jdbcType=VARCHAR},
      </if>
      <if test="record.createdate != null" >
        CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifydate != null" >
        ModifyDate = #{record.modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyby != null" >
        ModifyBy = #{record.modifyby,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update attendance
    set Aid = #{record.aid,jdbcType=INTEGER},
      CourseId = #{record.courseid,jdbcType=INTEGER},
      StudentId = #{record.studentid,jdbcType=INTEGER},
      State = #{record.state,jdbcType=INTEGER},
      SignDeskTime = #{record.signdesktime,jdbcType=TIMESTAMP},
      SignDeskAddress = #{record.signdeskaddress,jdbcType=VARCHAR},
      SeatNumber = #{record.seatnumber,jdbcType=INTEGER},
      CreateBy = #{record.createby,jdbcType=VARCHAR},
      CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      ModifyDate = #{record.modifydate,jdbcType=TIMESTAMP},
      ModifyBy = #{record.modifyby,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sas.pojo.Attendance" >
    update attendance
    <set >
      <if test="courseid != null" >
        CourseId = #{courseid,jdbcType=INTEGER},
      </if>
      <if test="studentid != null" >
        StudentId = #{studentid,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        State = #{state,jdbcType=INTEGER},
      </if>
      <if test="signdesktime != null" >
        SignDeskTime = #{signdesktime,jdbcType=TIMESTAMP},
      </if>
      <if test="signdeskaddress != null" >
        SignDeskAddress = #{signdeskaddress,jdbcType=VARCHAR},
      </if>
      <if test="seatnumber != null" >
        SeatNumber = #{seatnumber,jdbcType=INTEGER},
      </if>
      <if test="createby != null" >
        CreateBy = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        CreateDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        ModifyDate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyby != null" >
        ModifyBy = #{modifyby,jdbcType=VARCHAR},
      </if>
    </set>
    where Aid = #{aid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sas.pojo.Attendance" >
    update attendance
    set CourseId = #{courseid,jdbcType=INTEGER},
      StudentId = #{studentid,jdbcType=INTEGER},
      State = #{state,jdbcType=INTEGER},
      SignDeskTime = #{signdesktime,jdbcType=TIMESTAMP},
      SignDeskAddress = #{signdeskaddress,jdbcType=VARCHAR},
      SeatNumber = #{seatnumber,jdbcType=INTEGER},
      CreateBy = #{createby,jdbcType=VARCHAR},
      CreateDate = #{createdate,jdbcType=TIMESTAMP},
      ModifyDate = #{modifydate,jdbcType=TIMESTAMP},
      ModifyBy = #{modifyby,jdbcType=VARCHAR}
    where Aid = #{aid,jdbcType=INTEGER}
  </update>
</mapper>