<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sas.mapper.UserLoginInfoMapper" >
  <resultMap id="BaseResultMap" type="com.sas.pojo.UserLoginInfo" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="UserId" property="userid" jdbcType="INTEGER" />
    <result column="LoginName" property="loginname" jdbcType="VARCHAR" />
    <result column="LoginPassWord" property="loginpassword" jdbcType="VARCHAR" />
    <result column="LoginType" property="logintype" jdbcType="INTEGER" />
    <result column="OrganizationId" property="organizationid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Id, UserId, LoginName, LoginPassWord, LoginType, OrganizationId
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sas.pojo.UserLoginInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_login_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_login_info
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_login_info
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sas.pojo.UserLoginInfoExample" >
    delete from user_login_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sas.pojo.UserLoginInfo" >
    insert into user_login_info (Id, UserId, LoginName, 
      LoginPassWord, LoginType, OrganizationId
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{loginname,jdbcType=VARCHAR}, 
      #{loginpassword,jdbcType=VARCHAR}, #{logintype,jdbcType=INTEGER}, #{organizationid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sas.pojo.UserLoginInfo" >
    insert into user_login_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="loginname != null" >
        LoginName,
      </if>
      <if test="loginpassword != null" >
        LoginPassWord,
      </if>
      <if test="logintype != null" >
        LoginType,
      </if>
      <if test="organizationid != null" >
        OrganizationId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="loginname != null" >
        #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="loginpassword != null" >
        #{loginpassword,jdbcType=VARCHAR},
      </if>
      <if test="logintype != null" >
        #{logintype,jdbcType=INTEGER},
      </if>
      <if test="organizationid != null" >
        #{organizationid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sas.pojo.UserLoginInfoExample" resultType="java.lang.Integer" >
    select count(*) from user_login_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_login_info
    <set >
      <if test="record.id != null" >
        Id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        UserId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.loginname != null" >
        LoginName = #{record.loginname,jdbcType=VARCHAR},
      </if>
      <if test="record.loginpassword != null" >
        LoginPassWord = #{record.loginpassword,jdbcType=VARCHAR},
      </if>
      <if test="record.logintype != null" >
        LoginType = #{record.logintype,jdbcType=INTEGER},
      </if>
      <if test="record.organizationid != null" >
        OrganizationId = #{record.organizationid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_login_info
    set Id = #{record.id,jdbcType=INTEGER},
      UserId = #{record.userid,jdbcType=INTEGER},
      LoginName = #{record.loginname,jdbcType=VARCHAR},
      LoginPassWord = #{record.loginpassword,jdbcType=VARCHAR},
      LoginType = #{record.logintype,jdbcType=INTEGER},
      OrganizationId = #{record.organizationid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sas.pojo.UserLoginInfo" >
    update user_login_info
    <set >
      <if test="userid != null" >
        UserId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="loginname != null" >
        LoginName = #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="loginpassword != null" >
        LoginPassWord = #{loginpassword,jdbcType=VARCHAR},
      </if>
      <if test="logintype != null" >
        LoginType = #{logintype,jdbcType=INTEGER},
      </if>
      <if test="organizationid != null" >
        OrganizationId = #{organizationid,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sas.pojo.UserLoginInfo" >
    update user_login_info
    set UserId = #{userid,jdbcType=INTEGER},
      LoginName = #{loginname,jdbcType=VARCHAR},
      LoginPassWord = #{loginpassword,jdbcType=VARCHAR},
      LoginType = #{logintype,jdbcType=INTEGER},
      OrganizationId = #{organizationid,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>